.issue-card-container{
	margin-top: 10px;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 0 10px
}

#issue-card-meta{
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 0.85rem;
}

#calendar-icon{
	width: 1.2rem;
	height: 1.2rem;
	margin: 0 6px;
}

