body{
	margin: 65px 0 0 0;
	width: 100%;
}

#navBar{
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	height: 50px;
	width: 100%;
	background-color: #303130;
}


.error{
	margin: 2px 0 10px 0;
	color: red;
	font-size: 0.8rem;
}