:root {
  --font-size: 1.1rem;
}

body {
  margin: 65px 0 0 0;
  width: 100%;
  font-family: "Roboto Mono", monospace;
  font-size: 0.9em;
}

#nav-bar {
  z-index: 100;
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: #5e615e;
}

.nav-bar-link {
  margin: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 40px;
  width: 3rem;
  background: rgb(95, 91, 83);
  border-radius: 7px;
}

.nav-bar-icons{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#home-icon{
  width: 2rem;
  height: 2rem;
}

#about-icon{
  width: 2.3rem;
  height: 2.3rem;
}

#board-icon{
  width: 2.3rem;
  height: 2.3rem;
}

#link{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.error {
  margin: 2px 0 10px 0;
  color: red;
  font-size: 0.8rem;
}

button {
  font-family: "Roboto Mono", monospace;
  font-size: var(--font-size);
  cursor: pointer;
  padding: 9px;
}

input[type="text"] {
  font-size: var(--font-size);
  padding: 10px;
}

#snackbar {
  border-radius: 10px;
  padding: 20px;
  z-index: 420;
  position: fixed;
  width: 65%;
  height: 7%;
  background: black;
  color: white;
  bottom: 3%;
  left: 50%;
  margin-left: -32.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.snackbar-fade {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 12s, opacity 12s linear;
}

.form-buttons{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.form-button{
	padding: 4px;
}

.form-input{
	font-size: 1rem;
	padding: 3px;
}

@media screen and (max-width: 500px) {
  :root {
    --font-size: 0.9rem;
  }
}
