#home-container{
	font-size: 2rem;
}

#home-container h1{
	margin-bottom: 0;
}

#home-button-container{
	margin-top: 10vh;
	text-align: center;
	width: 100%;
}

.home-button{
	width: 15%;
	height: 20vh;
	border-radius: 10px;
	font-size: 2rem;
	margin: 0 15px;
}