.issue-label-container{
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
}

#issue-label-header{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 5vh;
	gap: 10px;
	margin: 1% 0;
}

#issue-board-container{
	margin: 0 3%;
}

@media screen and (max-width: 500px) {

	#issue_label_search{
		width: 35%;
	}

}
