#login-container{
	height: 45vh;
}

#login-form{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.icon-input-container{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid grey;
	border-radius: 3px;
	width: 16.5rem;
}

.input-icon{
	height: 1.5rem;
	width: 1.5rem;
	padding: 5px;
}

#login-button{
	width: 10rem;
}

#login-form input{
	width: 14rem;
	padding: 10px;
	font-size: 1rem;
	border: none;
}